<header>
    <nav >
        <style>
            #menu-principal{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5vw;
            }
        </style>
        <ul id="menu-principal">
            <li><img src="/img/home-50L.png"></li>
            <li><img src="/img/gps-48.png" alt="" srcset=""></li>
            <li><img src="/img/basket-48.png" alt="" srcset=""></li>
            <li><img src="/img/chat-48.png" alt="" srcset=""></li>
            <li><img src="/img/config-48.png" alt="" srcset=""></li>
        </ul>
    </nav>
</header>
