<main>
    <section>
        <h1>MEU PET</h1>
        <img src="" alt="" srcset="">
    </section>
    <article>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, atque. Ut quibusdam reprehenderit, voluptatum iure sed perferendis adipisci suscipit iusto nesciunt natus quae facere, ab autem nam assumenda, saepe tempora.</p>
        <a href="">CONHEÇA SEU NOVO PET</a>
    </article>
</main>