<div id="progress-container">
    <div id="progress-bar">

    </div>
</div>
<style>
    #verify-caracter ul {
        border: 1px black solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
        color: rgb(178, 178, 178);
    }
</style>
<main id="container-new-account">
    <a href="/aventurapet/new-account/options">
        <figure>
            <img src="/img/left-48.png" alt="voltar">
        </figure>
    </a>
    <form id="container-new-account-form" method="post" action="/aventurapet/new-account/verfy-password">
        <div>
            <label id="title-form" for="password">Ok! agora vamos criar uma senha:</label>
        </div>
        <div>
            <input type="password" name="password" id="password" minlength="8">
            <div id="verify-caracter">
                <ul>
                    <li id="length">Minimo 8</li>
                    <li id="caracter">Letras a-z</li>
                    <li id="especial">!@#$%¨...</li>
                </ul>
            </div>
        </div>
        <div>
            <input type="password" name="verfy-password" id="verfy-password">
        </div>
        <div>
            <input type="submit" name="seguinte" value="Seguinte">
        </div>
    </form>
</main>
<script>
    progressBar(90);

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("password").addEventListener("input", function () {
            var inputPassword = document.getElementById("password").value

            formatInputLength(inputPassword);


        });


        function formatInputLength(inputPassword) {

            inputPasswordLength = document.querySelector("#length");

            if (inputPassword.length >= 8) 
            {
                inputPasswordLength.style.color = "black";
                
                if(inputPasswordLength.querySelector('img') == null){
                    var endImg = "/img/correct-20.png";
                    var img = document.createElement("img");
                    img.setAttribute("src", endImg);
                    inputPasswordLength.appendChild(img)
                }


                
            } else {
                inputPasswordLength.style.color = "rgb(178, 178, 178)";
                inputPasswordLength.removeChild(inputPasswordLength.querySelector('img'))
            }

            console.log(inputPassword.length);
        }
    });
</script>
