<div id="progress-container">
    <div id="progress-bar">

</div>
</div>
<main id="container-new-account">
    <a href="/aventurapet/new-account/options">
        <figure>
            <img src="/img/left-48.png" alt="voltar">
        </figure>
    </a>
    <form id="container-new-account-form" method="post" action="/aventurapet/new-account/verfy-password">
        <div>
            <label id="title-form" for="password">Ok! agora vamos criar uma senha:</label>
        </div>
        <div>
            <input type="password" name="password" id="password">
        </div>
         <div>
            <input type="password" name="verfy-password" id="verfy-password">
        </div>
        <div>
            <input type="submit" name="seguinte" value="Seguinte">
        </div>
    </form>
</main>
<script>
    progressBar(90);
</script>