<div id="progress-container">
    <div id="progress-bar">
</div>
<main id="container-new-account">
    <a href="/aventurapet/new-account/name">
        <figure>
            <img src="/img/left-48.png" alt="voltar">
        </figure>
    </a>

    <form id="container-new-account-form" action="/aventurapet/new-account/save-options" method="post">
        <div>
            <label id="title-form">O que você deseja fazer?</label>
        </div>
        <div id="container-group-checkbox">
            <div class="container-checkbox img-doar">
                               
                <input type="checkbox" id="doar" name="checkboxOption[]" value="1">
                <label class="checkbox-label">Doar</label>
            </div>
             <div class="container-checkbox img-adotar" > 
                   
                <input type="checkbox" id="adotar" name="checkboxOption[]" value="2">
                <label class="checkbox-label">Adotar</label>
            </div>
             <div class="container-checkbox img-comprar">

                <input type="checkbox" id="comprar" name="checkboxOption[]" value="3">
                <label class="checkbox-label">Comprar</label>
            </div>  
             <div class="container-checkbox img-depois" >               
                <input type="checkbox" id="depois" name="checkboxOption[]" value="4">
                <label class="checkbox-label">Outra hora</label>
            </div> 
            <!--<input type="checkbox" id="adotar" name="adotar" value="adotar">
            <input type="checkbox" id="comprar" name="comprar" value="comprar">
            <input type="checkbox" id="depois" name="depois" value="depois">-->
        </div>

        <div>
            <input type="submit" name="seguinte" value="Seguinte">
        </div>
    </form>

</main>
 
<script>
   progressBar(30);
</script>