<main id="container-new-account">
    <a href="">
        <figure>
            <img src="/img/left-48.png" alt="voltar">
        </figure>
    </a>
            <form id="container-new-account-form" method="post" action="">
                <div>
                    <label for="email">Para começarmos digite seu email:</label>

                </div>
                <div>
                    <input type="email" name="email" id="email">
                </div>
                <div>
                    <input type="submit" name="seguinte" value="Seguinte">
                </div>
            </form>
</main>