@media only screen and (max-width: 450px) {
  
    .card-body p {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 451px) and (max-width: 550px) {

    .card-body {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 550px) {
    /*
        cria o layout do menu no topo ta tela
        com a posição fixa e a rolagem do conteudo fica 
        por baixo
    */

    .container-header-home {
        position: fixed;
        top: 0;
        z-index: 1;


    }

    .container-menu-home {
        background-color: #fff;
        width: 100vw;
        border-bottom: 1px solid rgb(188, 188, 188);
        border-radius: 0 0 5px 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        height: 150px;
    }

    .container-nav-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        border: 1px solid rgb(188, 188, 188);
    }
    .container-nav-home #home{
        text-align: start;
    }
    .container-nav-home #menu {
        text-align: end;
        margin-right: 10px;
    }

    .container-menu-home #logo {
        text-align: center;
    }

    .logo-img {
        margin-top: 28px;
        width: 50px;
    }

    .container-nav-menu {
        width: 90%;
        height: 50vh;
        border: 1px solid rgb(188, 188, 188);
        position: absolute;
        background-color: #fff;
        opacity: 90%;
        border-radius: 5px;
        z-index: 999;
        left: -100%;
        transition: 1s ease;
    }

    #btn-close{        
        height: 40px;
        width: 40px;
        position: absolute;
        cursor: pointer;
        z-index: 3;
        margin-left: 100%;         
        border-radius: 50%;
        text-align: center;
        padding-top: 5px;
    }

    

    #btn-close p{        
        color: red;
        font-size: 40px;
        font-family: Nunito;
        transition: 1s ease;
    }

    #btn-close p:hover{
        font-weight:bolder;
    }

    


    .container-nav-menu ul {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        height: 100%;
        text-align: center;
        
    }

    .container-nav-menu li{
        border-bottom: 1px solid rgb(188, 188, 188);
        cursor: pointer;
        padding: 35px;
        
    }

    .container-nav-menu li:hover{
        background-color:rgb(240, 153, 0);
        
    }

    .container-nav-menu li:hover>a{
        background-color:rgb(240, 153, 0);
        color: #fff;
    }

   
    .container-nav-menu a {
        text-decoration: none;
        font-size: 4vh;
        font-family: Nunito;
        color: rgb(240, 153, 0);
        font-weight: bold;
    }

    #logo h1{
        opacity: 0;
    }
    
    .container-main-home {
        margin-top: 152px;
        
    }

    .container-main-home>li {
        width: 100%;
        text-align: center;
       
    }

    .container-main-home img {
        width: 80%;
        
    }

    #carrosel {
        overflow: hidden;
        border: 1px solid rgb(188, 188, 188);
        border-radius: 5px;
    }

    #carrosel ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        left: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        width: calc(var(--total-img) * 100%);
        transition: left 0.5s ease;
        z-index: -1;
        /*animation: carrosel 20s ease infinite;*/
    }

    .container-footer-home {
        border-top: 1px solid rgb(188, 188, 188);
        height: 120px;
        display: grid;
        grid-template-rows: 50% 50%;
    }

    .container-footer-home h5 {
        text-align: center;
        padding: 20px;
    }

    .container-footer-home ul {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        padding-bottom: 10px;

    }

    .container-footer-home li {
        text-align: center;
    }

    .container-footer-home a {
        cursor: pointer;
    }

    .container-footer-home img {
        width: 24px;
        height: auto;
        transition: width .5s ease;
    }

    .container-footer-home img:hover {
        width: 50px;
    }
    .artigos{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container-artigo-home>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }

    .container-artigo-home li{
        width: 45vw;
        height: auto;
    }
    .card {        
        border: 1px solid rgb(188, 188, 188);
        border-radius: 5px;
        margin-bottom: 10px;
        height: 100%;
    }

    .card img {
        width: 90%;
        border-radius: 3px;
        padding: 10px;
    }

    .card-body {
        border-top: 1px solid rgb(188, 188, 188);
        width: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
       

    }

    .card-body h5 {
        padding: 5px 0 0 5px;
        text-align: start;
        grid-row-start: 1;
        grid-row-end: 1;
        font-weight: bold;
    }

    .card-body p {
        text-align: justify;
        text-indent: 20px;
        padding: 5px 5px 8px 5px;
        border-top: 1px solid rgb(188, 188, 188);
        

    }

    /*.card {
        
        border: solid 1px rgb(188, 188, 188);
        padding: 5px;
        border-radius: 5px;
    }*/

    /* .container-artigo-home li img{
        width: 100px;
        padding-bottom: 5px;
    }

    .container-artigo-home li p{
        text-align: justify;
        padding: 10px;
        border-top: 1px solid rgb(188, 188, 188);
       background-color:  rgb(235, 234, 234);
       border-radius: 5px;
        text-indent: 10px;
    }*/
}
