@media only screen and (max-width:1920px) {
   #container-new-account {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 20% 80%;
   }

   #container-new-account a {
      font-size: 20px;
      text-align: start;
      margin-left: 10px;
      margin-top: 10px;
   }

   #container-new-account-form {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 2vh 7vh 7vh 2vh;
      gap: 18vh;

   }

   #container-new-account-form #title-form {
      font-size: 30px;
   }

   #container-new-account-form input[type="email"],
   input[type="text"], input[type="password"] {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid rgb(188, 188, 188);
      border-radius: 5px 5px 0 0;
      width: 80%;
      height: 7vh;
      font-size: 22px;
   }

 

   #container-new-account-form input[type="email"]:focus {
      outline: none;
   }

   #container-new-account-form input[type="submit"] {
      border-radius: 30px;
      background-color: rgb(225, 160, 44);
      width: 80%;
      height: 7vh;
      border: 0;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 1s ease;

   }

   #container-new-account-form input[type="submit"]:hover {
      background-color: rgb(223, 148, 18);
   }

   #progress-container {
      width: 100%;
      height: 10px;
      background-color: rgb(227, 227, 230);
   }

   #progress-bar {
      height: 10px;
      background-color: rgb(223, 148, 18);
      width: 0;
   }

   #container-group-checkbox{
      margin-top: -15vh;      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      gap: 15px;
   }

   .container-checkbox {
      width: 140px;
      height: 130px; 
      background-color: rgb(241, 242, 244);
      border-radius: 5px; 
      cursor: pointer; 
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 80% 20%;
      background-repeat: no-repeat;
      background-size: 90%;
      align-items: center;
      background-position: center;
      transition: 1s ease;
   }

   .container-checkbox:hover{
      background-color: rgb(226, 226, 227) ;
   }

   .img-doar{
       background-image: url("/img/cat-64.png");
   }

   .img-adotar{
      background-image: url("/img/dog-64.png");
   }

   .img-comprar{
       background-image: url("/img/basket-64.png");
   }
     .img-depois{
       background-image: url("/img/timer-64.png");
   }

   .checkbox-label{
      position: relative;
      margin-top: 100%;
      font-weight: bolder;
      font-size: 1em;

   }


   #container-group-checkbox input[type="checkbox"]{
      position:absolute;
      opacity: 0%;
      width: 140px;
      height: 130px;
      z-index: 9;
      cursor: pointer;
   }
  

   
   /*
      funcao has altera o proprio elemento dependendo do estado do elemento filho
   */
   .container-checkbox:has(input[type="checkbox"]:checked){
     
      transition: 1s ease;
      background-color: rgb(225, 225, 227);
      border: 1px solid rgb(207, 207, 209);

   }

}
