<% 
  var visible ='hidden';
  var msg ='';
  
  if(typeof errors != 'undefined')
  {

    
    errors.forEach(function(err){
      msg = err.msg
    })
    visible = 'visible';
    
  }

%>

<div onclick="fechar(this)" id="msg" style="visibility:<%= visible %>" class="msg msg-error">
    <p><%= msg %></p>
    
</div> 
<script>
  function fechar(el){
    el.remove();
  }
</script>