<% var visible = typeof errors == 'undefined'? 'hidden':'visible';  %>

<div id="msg" style="visibility:<%= visible %>" class="msg msg-error">
    <p>Ops algo deu errado! tente novamente</p>
    <i>X</i>
  </div> 
