<%- include('error'); -%>
  <main id="container-login">
    <form id="container-login-form" action="/aventurapet/login/auth" method="post">
        <div class="form-input-container">
            <label for="user">Usuario:</label>
            <input type="text" name="user" id="user">
        </div>
        <div class="form-input-container">
            <label for="password">Senha:</label>
            <input type="password" name="password" , id="password">
        </div>

        <div class="form-input-container">
            <input class="btn btn-success" type="submit" name="enter" >
        </div>

    </form>
    <section id="container-login-section">
        <a href="">Esqueçeu sua senha?</a>
        <a href="/aventurapet/new-account">Não tem conta?</a>
    </section>
</main>  

