<footer class="container-footer-home">
    <h5>NOSSAS REDES</h5>
    <ul>
        <li>
            <a href="" target="_blank">
                <img src="/img/instagram-logo-24.png" alt="">
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="/img/tiktok-logo-24.png" alt="">
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="/img/facebook-logo-24.png" alt="">
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <img src="/img/x-logo-24.png" alt="">
            </a>
        </li>
    </ul>
</footer>
<script src="/js/style-home.js"></script>