<header class="container-header-home">
    <div class="container-menu-home">
        <nav class="container-nav-home">
            <div id="home">
                <a href="/">
                    <img src="/img/home-24.png" alt="home">
                </a>
            </div>
            <div id="menu">
                <a href="#">
                    <img src="/img/menu-24.png" alt="menu">
                </a>
            </div>
        </nav>
        <div id="logo">
            <a href="/">
                <img class="logo-img"src="/img/logo-1-removebg.png" alt="logo">
            </a>
        </div>
    </div>
</header>