<header class="container-header-home">
    <div class="container-menu-home">
        <nav class="container-nav-home">
            <div id="home">
                <a href="/">
                    <img src="/img/home-24.png" alt="home">
                </a>
            </div>
            <div id="menu">
                <!--onclick="getMenu()"-->
                <a href="#" class="btn-menu" >
                    <img src="/img/menu-24.png" alt="menu">
                </a>
            </div>
        </nav>
        <div id="logo">
            <a href="/">
                <div>
                    <img class="logo-img"src="/img/logo-1-removebg.png" alt="logo">    
                </div>                
                <h1>AVENTURA PET</h1>
            </a>
        </div>
        <div class="container-nav-menu">
            <div id="btn-close">
                <p id="letra-fechar">X</p>                
            </div>

            <ul>
                <li><a href="/aventurapet/login">ENTRAR <img src="/img/enter-24.png"></a></li>           
                <li><a href="">LOJA <img src="/img/shop-24.png"></a></a></li>          
                <li><a href="">PARCERIAS <img src="/img/handshake-heart-24.png" alt=""></a></li>           
                <li><a href="">QUEM SOMOS <img src="/img/inquiry-24.png"></a></li>
            </ul>
        </div>
    </div>
</header>
