<main class="container-main-home">
   <section id="carrosel">
      <ul>
         <li>
            <img src="/img/action-doanation.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/adulto-doando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/conjunto-pet.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/crianca-adotando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/menina-doando.png" alt="" srcset="">
         </li>
      </ul>
   </section>
   <article class="artigos">
     
      <div class="container-artigo-home">
         <ul>
            <li>
               <div class="card">
                  <img src="/img/action-doanation.png" alt="" srcset="">
                  <div class="card-body">
                     <h5>LOJA</h5>
                     <p>
                        <% if(typeof text !== 'undefined'){ %>
                           <%= text %>
                        <% } %>
                     </p>
                  </div>
               </div>
            </li>
            <li>
               <div class="card">
                  <img src="/img/adulto-doando.png" alt="" srcset="">
                  <div class="card-body">
                     <h5>DOADORES</h5>
                     <p><% if(typeof text !== 'undefined'){ %>
                        <%= text %>
                     <% } %></p>
                  </div>
               </div>
            </li>
            <li>
               <div class="card">
                  <img src="/img/conjunto-pet.png" alt="" srcset="">
                  <div class="card-body">
                     <h5>DOACOES</h5>
                     <p><% if(typeof text !== 'undefined'){ %>
                        <%= text %>
                     <% } %></p>
                  </div>
               </div>
            </li>
            <li>
               <div class="card">
                  <img src="/img/menina-doando.png" alt="" srcset="">
                  <div class="card-body">
                     <h5>CHAT</h5>
                     <p><% if(typeof text !== 'undefined'){ %>
                        <%= text %>
                     <% } %></p>

                     
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </article>
</main>