<main class="container-main-home">
   <section id="carrosel">
      <ul>
         <li>
            <img src="/img/action-doanation.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/adulto-doando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/conjunto-pet.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/crianca-adotando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/menina-doando.png" alt="" srcset="">
         </li>
      </ul>
   </section>
   <article class="artigos">
      <ul class="container-artigo-home">
         <div class="card">
            <li>
               <img src="/img/action-doanation.png" alt="" srcset="">
               <div class="card-body">
                 
                  <h5>LOJA</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium animi, sint consequuntur iure
                     nobis totam repellat molestiae eos, voluptatem fugiat quod voluptatibus quis fuga qui velit dolor
                     aperiam ipsam commodi.</p>
               </div>
            </li>
         </div>

         <div class="card">
            <li>
               <img src="/img/adulto-doando.png" alt="" srcset="">
               <div class="card-body">
                 
                  <h5>DOADORES</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis totam exercitationem, voluptas
                     omnis
                     tempore quibusdam odio eius fuga. Impedit necessitatibus suscipit nobis modi quibusdam fuga
                     dignissimos iste, unde iure odit.</p>
               </div>
            </li>
         </div>
         <div class="card">
            <li>
               <img src="/img/conjunto-pet.png" alt="" srcset="">
               <div class="card-body">
                 
                  <h5>DOACOES</h5>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero veritatis ullam vel corporis,
                     molestias
                     fugiat ut in et iure recusandae laborum expedita similique eligendi optio perspiciatis excepturi
                     voluptatibus placeat perferendis.</p>
               </div>
            </li>
         </div>
         <div class="card">
            <img src="/img/crianca-adotando.png" alt="" srcset="">
            <li>
               <div class="card-body">
                 <h5>LOCALIZAÇÃO</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, temporibus labore perferendis
                     hic
                     porro dignissimos provident, molestias non ducimus adipisci quo cum odit ipsum ex magnam iusto?
                     Neque,
                     delectus quasi.</p>
               </div>
            </li>
         </div>
         <div class="card">
            <li>
               <img src="/img/menina-doando.png" alt="" srcset="">
               <div class="card-body">
                 <h5>CHAT</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illo, voluptatum libero at dolorum
                     earum ipsam laborum. Enim ex maiores, adipisci soluta tempore hic eligendi perspiciatis in quas
                     inventore quos.</p>
               </div>
            </li>
         </div>
      </ul>
   </article>
</main>
