<main class="container-main-home">
   <section id="carrosel">
      <ul>
         <li>
            <img src="/img/action-doanation.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/adulto-doando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/conjunto-pet.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/crianca-adotando.png" alt="" srcset="">
         </li>
         <li>
            <img src="/img/menina-doando.png" alt="" srcset="">
         </li>
      </ul>
   </section>
   <section>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
      <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ut voluptatum numquam, dignissimos ratione facere neque similique vero dolorum cum nihil tenetur, fugiat molestiae rem beatae! Facilis totam autem veritatis.
      </p>
   </section>
</main>